h1 {
  font-size: 36px;
  text-align: center;
}

div  p {
  font-size: 20px;
}

.jumbotron
{
  color: whitesmoke;
  background-color: #0d7aef;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron > .btn {
  background-color: white;
  color: black;
}

.jumbotron > hr {
  background-color: white;
}

.btn:hover {
  background-color: orangered;
  color: white;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 70%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  background-color: skyblue;
}

#tblMtb {
  font-weight: bold;
}
